<div class="card">
  <div class="card-head"></div>
  <div class="card-body">
    <h2 class="font-italic">Details</h2>
    <div *ngIf="detail">
      <p>Etablissement : {{ detail.etablissement }}</p>
      <span> </span>
      <p>Adresse : {{ detail.adresse }}</p>

      <p>PhoneNumber : {{ detail.phoneNumber }}</p>
      <span> </span>
      <p>Email : {{ detail.email }}</p>
      <span> </span>
      <button class="btn btn-warning" [routerLink]="['/etablissements/update/', detail._id]" >Update</button>
      <button class="btn btn-info" routerLink="/etablissements/list">
        Back
      </button>
    </div>
  </div>
</div>